<ion-header class="ion-no-border">
  <ion-item lines="none">
   <ion-button fill="clear" slot="start" color="danger">
     <ion-menu-button color="success"></ion-menu-button>
   </ion-button>
    <ion-avatar slot="end">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <div class="main-header">
    <ion-grid>
    <ion-row>
    <ion-col size="6">
    <ion-label>
      <ion-note color="light" class="ion-margin-start">
        Receitas
      </ion-note>

    </ion-label>
  </ion-col>
  </ion-row>
  </ion-grid>
  </div>

  <div class="content">


    <ion-label>Nenhum dos seus pets tem receitas recentes.</ion-label>


  </div><!--fim content-->


</ion-content>



